@charset "utf-8";
@import 'mobile_common.css';
@media all and (max-width:640px){
*{margin:0; padding:0; list-style:none;}

a{text-decoration:none;}
a:link, a:visited, a:hover, a:active{color:#fff;}

body{max-height: 1200px;}

.cate::after,
.product1::after,
.product2::after,
.product3::after,
.product4::after,
.product11::after,
.product22::after,
.product33::after,
.product111::after,
.product222::after,
.product333::after,
.product444::after,
.product555::after{
    content:'';
    display:block;
    clear:both;
    width:0; height:0;
    visibility:hidden;
}

#tab_contents2{
    top: 186px;
    width: 100%; 
    position: absolute;
}
#contents{position: fixed; top: 115px;}
/*cate*/
.cate{
    width: 100%; height: 70px;
    line-height: 70px;
    background: #fff;
    position: fixed;
    top: 115px;
    border-bottom: solid 1px #6c87d3;
    z-index: 9999999;
}
.cate>li{float: left;}
.cate>li:first-child{position: absolute; left: 80px;}
.cate>li:nth-child(2){position: absolute; left: 44%;}
.cate>li:last-child{position: absolute; right: 80px;}
.cate>li>a{
    display: block;
    color: #000;
    font-size: 20px;
}
.cate>li:first-child>a.active::after,
.cate>li:nth-child(2)>a.active::after,
.cate>li:last-child>a.active::after{
	content:"";
	display:block;
	width:5px; 
	height:5px;
    border-radius: 50px;
	background:#6c87d3;
	position:absolute;
	top:22px;
	right:-8px;
	transform:translateX(-50%);
	transition:all .3s;	
}
.cate>li>a.active{
    font-weight: bold;
    color: #6c87d3
}

/*mypd*/
#tab_contents2>div{
    transition: all .1s;
    opacity: 0;
    position: absolute;
}
#tab_contents2>div.active{
	z-index:9999; 
	transition: all .1s;
	opacity: 1;
}
#mypd{
    width: 100%; 
    background: #fff;
}
#mypd>h4{display: none;}

/*1*/
.product1>li{float: left;}
.product1>li:nth-child(1)>p{margin: 60px 20px 0px 50px;}
.product1>li:nth-child(1)>input{margin: 0px 20px 0px 72px;}
.product1>li:nth-child(2)>a>img{
    width: 150px;
    margin: 59px 0px 15px 0px;
}
.product1>li:nth-child(3){margin: 60px 0px 0px 20px;}
.product1>li:nth-child(3)>a{color: #000;}
.price1{
    position: absolute;
    top: 190px; left: 275px;
}
.price1>span{font-weight: bold;}
.count1{
    position: absolute;
    top: 180px; right:90px;
    border: solid 1px #c1c1c1;
}
.dwnbtn,.upbtn{
    display: inline-block;
    width: 25px; height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
.num{
    display: inline-block;
    width: 50px; height: 25px;
    line-height: 25px;
    text-align: center;
    border-left: solid 1px #c1c1c1;
    border-right: solid 1px #c1c1c1;
}
/*2*/
.product2>li{float: left;}
.product2>li:nth-child(1)>p{margin: 60px 20px 0px 50px;}
.product2>li:nth-child(1)>input{margin: 0px 20px 0px 72px;}
.product2>li:nth-child(2)>a>img{
    width: 150px;
    margin: 59px 0px 15px 0px;
}
.product2>li:nth-child(3){margin: 60px 0px 0px 20px;}
.product2>li:nth-child(3)>a{color: #000;}
.price2{
    position: absolute;
    top: 420px; left: 275px;
}
.price2>span{font-weight: bold;}
.count2{
    position: absolute;
    top: 410px; right:90px;
    border: solid 1px #c1c1c1;
}
/*3*/
.product3>li{float: left;}
.product3>li:nth-child(1)>p{margin: 60px 20px 0px 50px;}
.product3>li:nth-child(1)>input{margin: 0px 20px 0px 72px;}
.product3>li:nth-child(2)>a>img{
    width: 150px;
    margin: 59px 0px 15px 0px;
}
.product3>li:nth-child(3){margin: 60px 0px 0px 20px;}
.product3>li:nth-child(3)>a{color: #000;}
.price3{
    position: absolute;
    top: 645px; left: 275px;
}
.price3>span{font-weight: bold;}
.count3{
    position: absolute;
    top: 635px; right:90px;
    border: solid 1px #c1c1c1;
}
/*4*/
.product4>li{float: left;}
.product4>li:nth-child(1)>p{margin: 60px 20px 0px 50px;}
.product4>li:nth-child(1)>input{margin: 0px 20px 0px 72px;}
.product4>li:nth-child(2)>a>img{
    width: 150px;
    margin: 59px 0px 15px 0px;
}
.product4>li:nth-child(3){margin: 60px 0px 0px 20px;}
.product4>li:nth-child(3)>a{color: #000;}
.price4{
    position: absolute;
    top: 875px; left: 275px;
}
.price4>span{font-weight: bold;}
.count4{
    position: absolute;
    top: 865px; right:90px;
    border: solid 1px #c1c1c1;
}

/*mypd2*/
#mypd2{
    display: none;
    width: 450px; height: 590px;
    border-top: solid 1px #c1c1c1;
    background: #fff;
    position: fixed;
    top: 210px; right: 90px;
}
.sum>li{
    width: 450px; height: 85px; line-height: 85px;
    border-bottom: solid 1px #c1c1c1;
    border-left: solid 1px #c1c1c1;
    border-right: solid 1px #c1c1c1;
}
.sum>li:nth-child(5){
    width: 450px; height: 175px;
    line-height: 25px;
    border-bottom: solid 1px #c1c1c1;
}
.sum>li:nth-child(6)>form>input{
    margin-top: 10px;    
    border-top: solid 1px #c1c1c1;
}
.sum>li:last-child{border: 0;}

.sum>li:last-child>form>input{
    display: inline-block;
    width: 452px; height: 70px; line-height: 70px;
    background: #6c87d3;
    color: #fff;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    border: 0;
}
.sum>li>p{margin-left: 20px;}
.sum>li>ul>li{float: left;}
.sum>li:nth-child(1)>p{margin-left: 20px;}
.sum>li>ul>li>p{margin-left: 20px;}
.total>li>p{font-weight:bold; color: #6c87d3;}
.pdnum>li:last-child{margin-left: 270px; font-weight: lighter;}
.pdpc>li:last-child{margin-left: 260px; font-weight: lighter;}
.total>li:last-child{margin-left: 280px; font-weight: lighter;}
.agr>p:first-child{
    display:inline-block; 
    margin: 30px 30px 10px 30px; 
    font-size: 16px;
}
.agr>p:nth-child(2){ 
    display:inline-block;
    font-size: 14px; 
    margin: 0px 30px;
}
.agr>label{
    position: absolute;
    top: 465px; right: 50px;
    font-size: 13px;
}
#nochk{
    display: none;
    position: relative;
    top: -500px; left: 25px;
}
#nochk>p{
    background: #fff;
    width: 400px; height: 150px;
    text-align: center; 
    padding: 100px 0px 0px 0px;
    border-radius: 5px;
    border: solid 2px #6c87d3;
    color: #000;
}
#nochk>span>p{
    display: inline-block;
    text-align: center;
    width: 100px; height: 35px;
    line-height: 35px;
    color: #fff;
    border-radius: 3px;
    background: #6c87d3;
    position: absolute;
    bottom: 80px; right: 200px;
    cursor: pointer;
}
#b_viewbtn>p{
    color: #fff; 
    font-size: 25px;
    position: fixed;
    width: 50px; height: 50px;
    line-height: 50px;
    background: #6c87d3;
    bottom: 140px; right: 0;
    text-align: center;
    border-radius: 25px 0px 0px 25px;
	transition:all .3s;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}
/*topbtn1*/
#topbtn1{display: none;}

/*inq*/
#inq{
    width: 100%; 
    background: #fff;
}
#inq>h4{display: none;}
#inq1{
    width: 100%; 
    margin: 20px 0px 0px 0px;
    position: relative;
}
.product11>li{float: left;}
.product22>li{float: left;}
.product33>li{float: left;}

/*1*/
.i_num1>a{
    display: inline-block;
    margin: 50px 10px 10px 70px;
}
.product11>li:nth-child(1)>a>img{
    width: 150px;
    margin: 0px 10px 50px 70px;
}
.product11>li:nth-child(2)>a{
    display: inline-block;
    position: absolute;
    top: 85px; width: 200px;
    color: #000;
}
.product11>li:nth-child(3)>p{
    position: absolute;
    top: 205px; left: 230px;
}
.product11>li:nth-child(4)>p{
    margin: 30px 20px 0px 260px;
    font-size: 18px;
}
.product11>li:nth-child(5)>p{
    display: inline-block;
    margin: 47px 20px 0px 160px;
    font-size: 18px;
    width: 170px; height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #6c87d3;
    cursor: pointer;
    transition: all .2s;
}
.product11>li:nth-child(5)>p:hover{
    color: #fff;
    background: #6c87d3;
    transition: all .2s;
}
/*2*/
.i_num2>a{
    display: inline-block;
    margin: 50px 10px 10px 70px;
}
.product22>li:nth-child(1)>a>img{
    width: 150px;
    margin: 0px 10px 50px 70px;
}
.product22>li:nth-child(2)>a{
    display: inline-block;
    position: absolute;
    top: 365px; width: 200px;
    color: #000;
}
.product22>li:nth-child(3)>p{
    position: absolute;
    top: 490px; left: 230px;
}
.product22>li:nth-child(4)>p{
    margin: 30px 20px 0px 260px;
    font-size: 18px;
    color: #6c87d3;
}
.product22>li:nth-child(5)>p{
    display: inline-block;
    margin: 47px 20px 0px 160px;
    font-size: 18px;
    width: 170px; height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #6c87d3;
    cursor: pointer;
    transition: all .2s;
}
.product22>li:nth-child(5)>p:hover{
    color: #fff;
    background: #6c87d3;
    transition: all .2s;
}
/*3*/
.i_num3>a{
    display: inline-block;
    margin: 50px 10px 10px 70px;
}
.product33>li:nth-child(1)>a>img{
    width: 150px;
    margin: 0px 10px 50px 70px;
}
.product33>li:nth-child(2)>a{
    display: inline-block;
    position: absolute;
    top: 645px; width: 200px;
    color: #000;
}
.product33>li:nth-child(3)>p{
    position: absolute;
    top: 770px; left: 230px;
}
.product33>li:nth-child(4)>p{
    margin: 30px 20px 0px 260px;
    font-size: 18px;
    color: #6c87d3;
}
.product33>li:nth-child(5)>p{
    display: inline-block;
    margin: 47px 20px 0px 160px;
    font-size: 18px;
    width: 170px; height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #6c87d3;
    cursor: pointer;
    transition: all .2s;
}
.product33>li:nth-child(5)>p:hover{
    color: #fff;
    background: #6c87d3;
    transition: all .2s;
}
#topbtn2{display: none;}

/*reg*/
#reg{
    width: 100%; 
    background: #fff;
}
#reg>h4{display: none;}
#reg>a{
    display: inline-block;
    width: 80px; height: 80px;
    line-height: 80px;
    background: #6c87d3;
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: fixed;
    border-radius: 80px;
    bottom: 140px; right: 10px;
    z-index: 999;
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}
#reg1{
    width: 100%; 
    position: relative;
    margin-bottom: 130px;
}
#topbtn3{display: none;}
.product111>li{float: left;}
.product222>li{float: left;}
.product333>li{float: left;}
.product444>li{float: left;}
.product555>li{float: left;}
/*1*/
.product111{
    border-bottom: solid 1px #c1c1c1;
    background: rgba(108, 135, 211, 0.1);
}
.product111>li:nth-child(1)>p{
    font-size: 25px;
    margin: 110px 30px 50px 30px;
}
.product111>li:nth-child(2)>a>img{
    width: 150px;
    margin: 50px 20px 35px 0px;
}
.product111>li:nth-child(3)>a{
    display: inline-block;
    margin: 55px 20px 50px 0px;
    font-size: 18px;
    width: 200px;
    color: #000;
}
.product111>li:nth-child(4)>a{
    display: inline-block;
    position: absolute;
    top: 120px; left: 245px;
}
.product111>li:nth-child(5)>p{
    position: absolute;
    top: 180px; left: 245px;
}
.product111>li:nth-child(6)>p{
    position: absolute;
    top: 110px; right: 60px;
    font-weight: bold;
    color: #6c87d3;
}
/*2*/
.product222{
    border-bottom: solid 1px #c1c1c1;
    background: #fff;
}
.product222>li:nth-child(1)>p{
    font-size: 25px;
    margin: 110px 30px 50px 30px;
}
.product222>li:nth-child(2)>a>img{
    width: 150px;
    margin: 50px 20px 35px 0px;
}
.product222>li:nth-child(3)>a{
    display: inline-block;
    margin: 55px 20px 50px 0px;
    font-size: 18px;
    width: 200px;
    color: #000;
}
.product222>li:nth-child(4)>a{
    display: inline-block;
    position: absolute;
    top: 360px; left: 245px;
}
.product222>li:nth-child(5)>p{
    position: absolute;
    top: 420px; left: 245px;
}
.product222>li:nth-child(6)>p{
    position: absolute;
    top: 350px; right: 60px;
    font-weight: bold;
}
/*3*/
.product333{
    border-bottom: solid 1px #c1c1c1;
    background: #fff;
}
.product333>li:nth-child(1)>p{
    font-size: 25px;
    margin: 110px 30px 50px 30px;
}
.product333>li:nth-child(2)>a>img{
    width: 150px;
    margin: 50px 20px 35px 0px;
}
.product333>li:nth-child(3)>a{
    display: inline-block;
    margin: 55px 20px 50px 0px;
    font-size: 18px;
    width: 200px;
    color: #000;
}
.product333>li:nth-child(4)>a{
    display: inline-block;
    position: absolute;
    top: 580px; left: 245px;
}
.product333>li:nth-child(5)>p{
    position: absolute;
    top: 660px; left: 245px;
}
.product333>li:nth-child(6)>p{
    position: absolute;
    top: 590px; right: 60px;
    font-weight: bold;
}
/*4*/
.product444{
    border-bottom: solid 1px #c1c1c1;
    background: #fff;
}
.product444>li:nth-child(1)>p{
    font-size: 25px;
    margin: 110px 30px 50px 30px;
}
.product444>li:nth-child(2)>a>img{
    width: 150px;
    margin: 50px 20px 35px 0px;
}
.product444>li:nth-child(3)>a{
    display: inline-block;
    margin: 55px 20px 50px 0px;
    font-size: 18px;
    width: 200px;
    color: #000;
}
.product444>li:nth-child(4)>a{
    display: inline-block;
    position: absolute;
    top: 820px; left: 245px;
}
.product444>li:nth-child(5)>p{
    position: absolute;
    top: 900px; left: 245px;
}
.product444>li:nth-child(6)>p{
    position: absolute;
    top: 830px; right: 60px;
    font-weight: bold;
}
/*5*/
.product555{
    border-bottom: solid 1px #c1c1c1;
    background: #fff;
}
.product555>li:nth-child(1)>p{
    font-size: 25px;
    margin: 110px 30px 50px 30px;
}
.product555>li:nth-child(2)>a>img{
    width: 150px;
    margin: 50px 20px 35px 0px;
}
.product555>li:nth-child(3)>a{
    display: inline-block;
    margin: 55px 20px 50px 0px;
    font-size: 18px;
    width: 200px;
    color: #000;
}
.product555>li:nth-child(4)>a{
    display: inline-block;
    position: absolute;
    top: 1060px; left: 245px;
}
.product555>li:nth-child(5)>p{
    position: absolute;
    top: 1140px; left: 245px;
}
.product555>li:nth-child(6)>p{
    position: absolute;
    top: 1070px; right: 60px;
    font-weight: bold;
}







}