@charset "utf-8";
@media all and (min-width:641px){
#pdpage1::after,
#pdpage>ul::after,
.pdreg1>li>ul::after,
.pdreg1::after{
    content:'';
    display:block;
    clear:both;
    width:0; height:0;
    visibility:hidden;
}
#contents2{
    width: 100%; 
}
#contents2>p{
    position: fixed;
    bottom: 150px; left: 60px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}
/*cate*/
.cate{
    width: 100%; height: 1610px;
    background: #f6f6f6;
}
.cate>li>a{
    text-align: right;
    font-size: 20px;
    color: #000;
    position: fixed;
	display:inline-block;
}
.cate>li:first-child>a{
    display: inline-block;
    margin: 215px 0px 50px 125px;
    width: 75px;
    text-align: right;
}
.cate>li:last-child>a{
    display: inline-block;
    margin: 0px 0px 50px 125px;
    top: 280px;
    width: 75px;
    text-align: right;
}
.cate>li:first-child>a.active::after,
.cate>li:last-child>a.active::after{
	content:"";
	display:block;
	width:5px; 
	height:5px;
    border-radius: 50px;
	background:#6c87d3;
	position:absolute;
	top:-3px;
	right:-10px;
	transform:translateX(-50%);
	transition:all .3s;	
}
.cate>li>a.active{
    font-weight: bold;
    color: #6c87d3;
}


/*pdpage*/
#tab_contents2{ 
    width: 1440px;
    background: #fff;
    position: absolute;
    top: 110px; left: 240px;
}
#tab_contents2>div{
    transition: all .1s;
    opacity: 0;
    position: absolute;
}
#tab_contents2>div.active{
	z-index:9999; 
	transition: all .1s;
	opacity: 1;
}
#pdpage{
    width: 1440px; height: 1610px;
    background: #fff;
    overflow: hidden;
}
#pdpage>input{
    width: 250px; 
    border: 0;
    border-bottom: solid 1px #6c87d3;
    margin: 50px 50px 50px 70px;
}
#pdpage>a>img{
    width: 20px;
    position: absolute;
    top: 45px; left: 300px;
}
#pdpage>ul{
    position: absolute;
    top: 50px; right: 70px;
}
#pdpage>ul>li{
    float: left;
    margin-left: 50px;
    font-size: 18px;
}
#pdpage>ul>li>a.active{
    font-weight: bold;
    color: #6c87d3;
}

/*pdpage1*/
#pdpage1>ul{float: left;}
#pdpage1{margin: 0px 70px;}

/*1*/
.pd4,.pd5,.pd6,.pd7,.pd8,.pd9{margin-top: 50px;}
.pd2,.pd3,.pd5,.pd6,.pd8,.pd9{margin-left: 50px;}

.pd1>li>a>img,
.pd2>li>a>img,
.pd3>li>a>img,
.pd4>li>a>img,
.pd5>li>a>img,
.pd6>li>a>img,
.pd7>li>a>img,
.pd8>li>a>img,
.pd9>li>a>img{width: 398px; height: 398px;}

.pd1>li,
.pd2>li,
.pd3>li,
.pd4>li,
.pd5>li,
.pd6>li,
.pd7>li,
.pd8>li,
.pd9>li{position:relative; border: 1px solid #d4d4d4;}

.pd1>li>a>div,
.pd2>li>a>div,
.pd3>li>a>div,
.pd4>li>a>div,
.pd5>li>a>div,
.pd6>li>a>div,
.pd7>li>a>div,
.pd8>li>a>div,
.pd9>li>a>div{
	position:absolute;
	width:398px; height:402px;
	background:rgba(108, 135, 211, 0.5); 
	opacity:0;
	color:#000;
}
.pd1>li:hover a div,
.pd2>li:hover a div,
.pd3>li:hover a div,
.pd4>li:hover a div,
.pd5>li:hover a div,
.pd6>li:hover a div,
.pd7>li:hover a div,
.pd8>li:hover a div,
.pd9>li:hover a div{	
	top:0; 
	opacity:3;
	transition:all 0.3s;
}
.pd1>li a div p,
.pd2>li a div p,
.pd3>li a div p,
.pd4>li a div p,
.pd5>li a div p,
.pd6>li a div p,
.pd7>li a div p,
.pd8>li a div p,
.pd9>li a div p{
	text-align:left;
    width: 270px; height: 270px;
    line-height: 30px;
	margin:70px auto;
    box-shadow:5px 5px 2px rgba(0, 0, 0, .5);
    background: #fff;
}
.pd1>li>a>div>p>span,
.pd2>li>a>div>p>span,
.pd3>li>a>div>p>span,
.pd4>li>a>div>p>span,
.pd5>li>a>div>p>span,
.pd6>li>a>div>p>span,
.pd7>li>a>div>p>span,
.pd8>li>a>div>p>span,
.pd9>li>a>div>p>span{
    display: inline-block;
    margin: 35px;
    font-size: 20px;
}
.pd1>li>a>div>p>span>span,
.pd2>li>a>div>p>span>span,
.pd3>li>a>div>p>span>span,
.pd4>li>a>div>p>span>span,
.pd5>li>a>div>p>span>span,
.pd6>li>a>div>p>span>span,
.pd7>li>a>div>p>span>span,
.pd8>li>a>div>p>span>span,
.pd9>li>a>div>p>span>span{
    display: inline-block;
    margin: 20px 0px;
    font-weight: bold;
    font-size: 22px;
}


/*pdreg*/
#pdreg{
    width: 1440px; height: 730px;
    background: #fff;
    overflow: hidden;
}
#pdreg>p{
    font-size: 27px;
    margin: 50px 0px 20px 70px;
}

/*pdreg1*/
.pdreg1{
    width: 1300px; height: 530px;
    border: solid 1px #c1c1c1;
    margin: 0 auto;
}
.pdreg1>li>ul>li{float: left;}
.pdnm>li:first-child{
    margin: 50px 70px 20px 70px;
    font-size: 20px;
}
.pdnm>li:last-child{
    margin: 48px 50px 20px 0px;
    font-size: 20px;
}
.pdnm>li:last-child>input{
    width: 400px; height: 20px;
    border: 1px solid #c1c1c1;
}

.pdpr>li:first-child{
    margin: 0px 88px 20px 70px;
    font-size: 20px;
}
.pdpr>li:last-child{
    margin: 0px 50px 20px 0px;
    font-size: 20px;
}
.pdpr>li:last-child>input{
    width: 200px; height: 20px;
    border: 1px solid #c1c1c1;
}

.pdex>li:first-child{
    margin: 0px 50px 50px 70px;
    font-size: 20px;
}
.pdex>li:last-child{
    margin: 0px 50px 20px 0px;
    font-size: 20px;
}
.pdex>li:last-child>input{
    width: 1000px; height: 300px;
    border: 1px solid #c1c1c1;
}

.pdim>li:first-child{
    margin: 0px 27px 50px 70px;
    font-size: 20px;
}
.pdim>li:last-child{
    margin: 0px 50px 20px 0px;
    font-size: 20px;
}
.pdreg1>li:last-child{
    width: 200px; height: 50px;
    background: #6c87d3;
    line-height: 50px;
    text-align: center;
    color: #fff;
    margin: 20px 0px 0px 0px;
    float: right;
}
.pdreg1>li:last-child>a{
    display: inline-block;
    width: 200px; height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}


/*q_menu*/
#q_menu{
	background:#fff;
	width:100px;
	overflow:hidden;
	position:fixed;
	top:225px;
	right:5%;
	height:354px;
	display:block;
	transition:all 1s;
    border: solid 1px #d4d4d4;
    box-shadow:0px 0px 3px rgba(0,0,0,.3);
}
#q_menu li a img{
    width:80%; 
    margin:8% 10% 0px 10%;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
}
#q_menu>ul>li:first-child>p{
    font-size: 16px; 
    font-weight: bold; 
    margin: 10px 10px 0px 10px;
}
#q_menu>ul>li:nth-child(2){position: relative; }
#q_menu>ul>li:nth-child(2)>a>p{
    position: absolute;
    top: 10%; left: 10%;
    width: 25px; height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    text-align: center;
}
#q_menu>ul>li:nth-child(3){position: relative;}
#q_menu>ul>li:nth-child(3)>a>p{
    position: absolute;
    top: 10%; left: 10%;
    width: 25px; height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    text-align: center;
}
#q_menu>ul>li:nth-child(4){position: relative;}
#q_menu>ul>li:nth-child(4)>a>p{
    position: absolute;
    top: 10%; left: 10%;
    width: 25px; height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    text-align: center;
}
#q_menu>ul>li:last-child{
    width: 100px; height: 40px;
    background: #6c87d3;
    margin-top: 10px;
}
#q_menu>ul>li:last-child>p{
    display: inline-block;
    text-align: center;
    width: 100px; height: 40px;
    line-height: 40px;
    background: #6c87d3;
    color: #fff;
    cursor: pointer;
}


/*footer*/
footer{
    width: 100%;
    height: 130px;
    background: #fff;
    border-top: solid 1px #d4d4d4;
    box-sizing: border-box;
	position: fixed;
	right: 0; bottom: 0px;
	z-index: 9999;
}



}
